<style>
    .PfPic {
        height: 50px;
        width: 50px;
        margin-left: 15px;
        margin-top: 5px;
        border-radius: 25px
    }
</style>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo darken-4">
            <a href="/" class="brand-logo">1 CSE C</a>
            <ul class="right hide-on-med-and-down">
                <li>{{ Name }}</li>
                <li><img src="{{ Url }}" alt="{{ Name }}" class="PfPic"></li>
            </ul>
        </div>
    </nav>
</div>